@model IEnumerable<DataLayer.Page>

@{
    ViewBag.Title = "Index";

}
@section head{
    <style>
        th {
            text-align: center;
        }
    </style>
}
<div class="container-fluid" style="margin-top:80px">

    <h2>لیست خبرها</h2>
    <p>
        <a class="btn btn-success" href="@Url.Action("create","pages")">افزودن صفحه جدید</a>
        @*@Html.ActionLink("افزودن صفحه جدید", "Create")*@
    </p>
    <table class="table table-bordered text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageGroup.GroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Visit)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ShowInSlider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>فرمان ها</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @if (item.ImageName != null)
                    {
                        <img src="~/PageImages/@item.ImageName" alt="عکس خبر" class="thumbnail" style="width:80px;height:50px" />
                    }
                    else
                    {
                        <p>بدون عکس</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageGroup.GroupTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Visit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowInSlider)
                </td>
                <td>
                    @item.CreateDate.Toshamsi()
                </td>

                <td>
                    @*onclick="editGroup(@item.PageID)"*@
                    <a class="btn btn-info btn-sm" title="جزئیات" onclick="infoGroup(@item.PageID)"><i class="glyphicon glyphicon-info-sign"></i></a>
                    <a class="btn btn-warning btn-sm" title="ویرایش" href="@Url.Action("edit", "pages", new {id=item.PageID})"> <i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn btn-danger btn-sm" title="حذف" onclick="deleteGroup(@item.PageID)"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        }

    </table>
    <div>
        <a class="btn" href="/">بازگشت به سایت</a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">
                ...
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
@section scripts{
    <script>

        function infoGroup(id) {
            $.get("/Admin/Pages/Details/" + id, function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html("جزئیات صفحه");
                $("#myModalBody").html(result);
            });
        }
        //function editGroup(id) {
        //    $.get("/Admin/Pages/Edit/" + id, function (result) {
        //        $("#myModal").modal();
        //        $("#myModalLabel").html("ویرایش");
        //        $("#myModalBody").html(result);
        //    });
        //}
        function deleteGroup(id) {
            $.get("/Admin/Pages/Delete/" + id, function (result) {
                $("#myModal").modal();
                $("#myModalLabel").html("حذف");
                $("#myModalBody").html(result);
            });
        }


    </script>

}